<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InformationInputMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_INFORMATION(
			CLINIC,	
			INSPECTION_DOCTOR,	
			NAME,	
			AGE,	
			SEX,	
			RELATIONSHIP_PATIENTS,	
			DATE,	
			INTRODUCE,	
			DETAIL_INTRODUCE,	
			IS_BLOOD,	
			BLOOD_STORAGE_LOCATION,	
			DNA_CONCENTRATION,	
			A260,
			A280,
			A260280,
			A260230,
			DNA_RESULT,	
			DNA_STORAGE_LOCATION,	
			GENETIC_TESTING_ITEMS,	
			CANDIDATEGENE_ONE,	
			VALIDATIONOPRIMERSEQUENCE_ONE,	
			CANDIDATEGENE_TWO,	
			VALIDATIONOPRIMERSEQUENCE_TWO,	
			CANDIDATEGENE_THREE,	
			VALIDATIONOPRIMERSEQUENCE_THREE,	
			INFORMATIONINPUT_ID
		) values (
			#{CLINIC},	
			#{INSPECTION_DOCTOR},	
			#{NAME},	
			#{AGE},	
			#{SEX},	
			#{RELATIONSHIP_PATIENTS},	
			#{DATE},	
			#{INTRODUCE},	
			#{DETAIL_INTRODUCE},	
			#{IS_BLOOD},	
			#{BLOOD_STORAGE_LOCATION},	
			#{DNA_CONCENTRATION},	
			#{A260},
			#{A280},
			#{A260280},
			#{A260230},
			#{DNA_RESULT},	
			#{DNA_STORAGE_LOCATION},	
			#{GENETIC_TESTING_ITEMS},	
			#{CANDIDATEGENE_ONE},	
			#{VALIDATIONOPRIMERSEQUENCE_ONE},	
			#{CANDIDATEGENE_TWO},	
			#{VALIDATIONOPRIMERSEQUENCE_TWO},	
			#{CANDIDATEGENE_THREE},	
			#{VALIDATIONOPRIMERSEQUENCE_THREE},	
			#{INFORMATIONINPUT_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_INFORMATION
		where 
			INFORMATIONINPUT_ID = #{INFORMATIONINPUT_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_INFORMATION
			set 
				CLINIC = #{CLINIC},
				INSPECTION_DOCTOR = #{INSPECTION_DOCTOR},
				NAME = #{NAME},
				AGE = #{AGE},
				SEX = #{SEX},
				RELATIONSHIP_PATIENTS = #{RELATIONSHIP_PATIENTS},
				DATE = #{DATE},
				INTRODUCE = #{INTRODUCE},
				DETAIL_INTRODUCE = #{DETAIL_INTRODUCE},
				IS_BLOOD = #{IS_BLOOD},
				BLOOD_STORAGE_LOCATION = #{BLOOD_STORAGE_LOCATION},
				DNA_CONCENTRATION = #{DNA_CONCENTRATION},
				A260 = #{A260},
				A280 = #{A280},
				A260280 = #{A260280},
				A260230 = #{A260230},
				DNA_RESULT = #{DNA_RESULT},
				DNA_STORAGE_LOCATION = #{DNA_STORAGE_LOCATION},
				GENETIC_TESTING_ITEMS = #{GENETIC_TESTING_ITEMS},
				CANDIDATEGENE_ONE = #{CANDIDATEGENE_ONE},
				VALIDATIONOPRIMERSEQUENCE_ONE = #{VALIDATIONOPRIMERSEQUENCE_ONE},
				CANDIDATEGENE_TWO = #{CANDIDATEGENE_TWO},
				VALIDATIONOPRIMERSEQUENCE_TWO = #{VALIDATIONOPRIMERSEQUENCE_TWO},
				CANDIDATEGENE_THREE = #{CANDIDATEGENE_THREE},
				VALIDATIONOPRIMERSEQUENCE_THREE = #{VALIDATIONOPRIMERSEQUENCE_THREE},
			INFORMATIONINPUT_ID = INFORMATIONINPUT_ID
			where 
				INFORMATIONINPUT_ID = #{INFORMATIONINPUT_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			CLINIC,	
			INSPECTION_DOCTOR,	
			NAME,	
			AGE,	
			SEX,	
			RELATIONSHIP_PATIENTS,	
			DATE,	
			INTRODUCE,	
			DETAIL_INTRODUCE,	
			IS_BLOOD,	
			BLOOD_STORAGE_LOCATION,	
			DNA_CONCENTRATION,	
			A260,
			A280,
			A260280,
			A260230,
			DNA_RESULT,	
			DNA_STORAGE_LOCATION,	
			GENETIC_TESTING_ITEMS,	
			CANDIDATEGENE_ONE,	
			VALIDATIONOPRIMERSEQUENCE_ONE,	
			CANDIDATEGENE_TWO,	
			VALIDATIONOPRIMERSEQUENCE_TWO,	
			CANDIDATEGENE_THREE,	
			VALIDATIONOPRIMERSEQUENCE_THREE,	
			INFORMATIONINPUT_ID
		from 
			TB_INFORMATION
		where 
			INFORMATIONINPUT_ID = #{INFORMATIONINPUT_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.CLINIC,	
				a.INSPECTION_DOCTOR,	
				a.NAME,	
				a.AGE,	
				a.SEX,	
				a.RELATIONSHIP_PATIENTS,	
				a.DATE,	
				a.INTRODUCE,	
				a.DETAIL_INTRODUCE,	
				a.IS_BLOOD,	
				a.BLOOD_STORAGE_LOCATION,	
				a.DNA_CONCENTRATION,	
				a.A260,
				a.A280,
				a.A260280,
				a.A260230,
				a.DNA_RESULT,	
				a.DNA_STORAGE_LOCATION,	
				a.GENETIC_TESTING_ITEMS,	
				a.CANDIDATEGENE_ONE,	
				a.VALIDATIONOPRIMERSEQUENCE_ONE,	
				a.CANDIDATEGENE_TWO,	
				a.VALIDATIONOPRIMERSEQUENCE_TWO,	
				a.CANDIDATEGENE_THREE,	
				a.VALIDATIONOPRIMERSEQUENCE_THREE,	
				a.INFORMATIONINPUT_ID
		from 
				TB_INFORMATION a
		where 1=1
		<if test="pd.INFORMATIONNAME != null and pd.INFORMATIONNAME != ''"><!-- 关键词检索 -->
			and
			(
			a.NAME LIKE CONCAT(CONCAT('%', #{pd.INFORMATIONNAME}),'%')
			or
			a.AGE LIKE CONCAT(CONCAT('%', #{pd.INFORMATIONNAME}),'%')
			or
			a.CLINIC LIKE CONCAT(CONCAT('%', #{pd.INFORMATIONNAME}),'%')
			or
			a.INSPECTION_DOCTOR LIKE CONCAT(CONCAT('%', #{pd.INFORMATIONNAME}),'%')
			)
		</if>
		<if test="pd.SEXSTATUS != null and pd.SEXSTATUS != ''"><!-- 性别检索 -->
			and a.SEX=#{pd.SEXSTATUS}
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 时间检索 -->
			and a.DATE &gt;= #{pd.lastLoginStart}
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 时间检索 -->
			and a.DATE &lt;= #{pd.lastLoginEnd}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.CLINIC,	
				a.INSPECTION_DOCTOR,	
				a.NAME,	
				a.AGE,	
				a.SEX,	
				a.RELATIONSHIP_PATIENTS,	
				a.DATE,	
				a.INTRODUCE,	
				a.DETAIL_INTRODUCE,	
				a.IS_BLOOD,	
				a.BLOOD_STORAGE_LOCATION,	
				a.DNA_CONCENTRATION,	
				a.A260,
				a.A280,
				a.A260280,
				a.A260230,
				a.DNA_RESULT,	
				a.DNA_STORAGE_LOCATION,	
				a.GENETIC_TESTING_ITEMS,	
				a.CANDIDATEGENE_ONE,	
				a.VALIDATIONOPRIMERSEQUENCE_ONE,	
				a.CANDIDATEGENE_TWO,	
				a.VALIDATIONOPRIMERSEQUENCE_TWO,	
				a.CANDIDATEGENE_THREE,	
				a.VALIDATIONOPRIMERSEQUENCE_THREE,	
				a.INFORMATIONINPUT_ID
		from 
				TB_INFORMATION a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_INFORMATION
		where 
			INFORMATIONINPUT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>